- var FORM = LANG.form;

form.form.js-registration-form(action="https://api.apispreadsheets.com/data/QduW22vQumEfA2h6/", method="post" data-validation-schema="signup-form")
	h4.form__title!= FORM.title
	input.js-input-date(type="hidden" name="date")
	.form__inputs
		.input-wrap.form__input-wrap.js-input-wrap
			input.form__input.input-wrap__input.js-input(type="text", name="name")
			span.input-wrap__label.js-label!= FORM.inputName
			span.input-wrap__error.js-error
		.input-wrap.form__input-wrap.js-input-wrap
			input.form__input.input-wrap__input.js-input(type="text", name="phone")
			span.input-wrap__label.js-label!= FORM.inputPhone
			span.input-wrap__error.js-error
		.input-wrap.form__input-wrap.js-input-wrap
			input.form__input.input-wrap__input.js-input(type="email", name="email")
			span.input-wrap__label.js-label!= FORM.inputEmail
			span.input-wrap__error.js-error
	button.form__btn.btn!= FORM.button
	.form__checkbox.checkbox.js-input-wrap
		label.checkbox__label!= FORM.checkbox
			input.checkbox__input(type="checkbox" name="checkbox")
			span.checkbox__checkmark
				i.fico.fico-check
			span.checkbox__error.js-error